body {
	font-family:Comic Sans MS;
	background-color:green;
}

#summary{
	color:purple;
}

#ok{
	font-family:Comic Sans MS;
	color:red;
}
#di{
	font-family:Comic Sans MS;
	color:darkgreen;
}
#normal{
	font-family:Courier New;
}