body {
	font-family:Comic Sans MS;
	background-color:#2b76cb;
}

#summary{
	color:purple;
}

#ok{
	font-family:Comic Sans MS;
	color:red;
}
#di{
	font-family:Comic Sans MS;
	color:darkgreen;
}
#normal{
	font-family:Courier New;
}
h1{
	border: 3px dotted black;
	padding: 13px;
	margin-center: 750px;
}
#shiba{
	position: absolute;
	top: 5px;
	right: 5px;
}
#shiba2{
	position: fixed;
	bottom: 10px;
	left: 5px;
}